# Build results
bin/
obj/

# IDE files
.vscode/
.idea/
.vs/

# Project specific files
SocialSite.API/wwwroot/pictures/*

# User-specific files
*.rsuser
*.user
*.suo

# MonoDevelop files
*.userprefs

# Backup & report files from project upgrades
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm
ServiceFabricBackup/

# Azure Web App publish settings
*.Publish.xml
*.azurePubxml
PublishScripts/

# Package directories can be ignored
**/[Pp]ackages/
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/

# Azure Deployment
csx/
*.build.csdef
ecf/
rcf/
*.dbmdl
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs
AppPackages/
BundleArtifacts/
Package.StoreAssociation.xml
pkginfo.txt
*.appx
*.appxbundle
*.appxupload

# Temporary files
$tf/  # Temporary folder for TFS
*.tmp
*.tmp1
*.tmp2
*.tmp3
*.pidb
*.svclog
*.scc

# DotNet Core
project.lock.json
project.fragment.lock.json
artifacts/

# Node.js dependencies
node_modules/

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# Roslyn project files
*.ide

# Coverage and analysis results
*.coverage
*.coveragexml
*.nvuser
*.armingdb

# Tools folder for tooling that can be outside of source control
tools/